/*首页 达人*/
.wine_dr{ display:inline-block; width:100%;}
.wine_dr dl{display:inline-block; width:46%; margin:2% 0% 1% 2%; position: relative; border:1px #eee solid;}
.wine_dr dt img{ width:100%;}
.wine_dr dd{ float:left; padding:4% 3%; width:94%;}
.wine_dr dd p{ float:left; width:100%; position:relative; z-index:2; line-height:1.6em; font-size:0.8em;}
.wine_dr dd p i{ float:left;}
.wine_dr dd p img{ float:left; width:32%; margin-left:5px; padding-top:1px;}
.wine_dr dd p span{ float:right; color:#6b4485;}
.wine_dr dd p em{ float:left; width:33.3%; color:#999; text-align:center; margin-top:5px;}