.entry_title{
    white-space: nowrap;
    overflow: hidden;
    display:block;
    text-overflow: ellipsis;
    width:100%;
}

.no-padding {
    padding: 0px !important;
}

.ion-myicon2:before {
	content:url('../images/myicon2.png') !important;
	transform: scale(.4);
}
.ion-myicon3:before {
	content:url('../images/myicon3.png') !important;
	transform: scale(.4);
}
.ion-myicon4:before {
	content:url('../images/myicon4.png') !important;
	transform: scale(.4);
}
.ion-myicon5:before {
	content:url('../images/myicon5.png') !important;
	transform: scale(.4);
}
.ion-myicon6:before {
	content:url('../images/myicon6.png') !important;
	transform: scale(.4);
}
.ion-myicon7:before {
	content:url('../images/myicon7.png') !important;
	transform: scale(.4);
}
.ion-myicon8:before {
	content:url('../images/myicon8.png') !important;
	transform: scale(.4);
}
.ion-myicon9:before {
	content:url('../images/myicon9.png') !important;
	transform: scale(.4);
}
.ion-myicon10:before {
	content:url('../images/myicon10.png') !important;
	transform: scale(.4);
}
.ion-myicon11:before {
	content:url('../images/myicon11.png') !important;
	transform: scale(.4);
}
