<ion-view>
    <ion-tabs class="tabs-striped tabs-background-stable">
        <ion-tab title="图文详情" ui-sref="wine-detail.main">
            <ion-nav-view name="detail-main"></ion-nav-view>
        </ion-tab>
        <ion-tab title="酒类身份证" ui-sref="wine-detail.info">
            <ion-nav-view name="detail-info"></ion-nav-view>
        </ion-tab>
        <ion-tab title="评价" ui-sref="wine-detail.intro">
            <ion-nav-view name="detail-intro"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
