<ion-view>
    <ion-nav-title>酒庄详情</ion-nav-title>
    <ion-nav-buttons>
        <a class="button icon-left ion-chevron-left button-clear button-dark" ui-sref="tab.wine"></a>
    </ion-nav-buttons>
    <ion-content>
        <div class="wine_jzbanner">
            <dl>
                <dt><img id="jzlogo" ng-src="{{resourceURL}}{{jzInfo.logoPicUrl}}!50x50"></dt>
                <dd><a id="jzlink">{{jzInfo.name}}</a></dd>
            </dl>
        </div>
        <div class="wine_products_more">
            <dl>
                <dt><img ng-src="{{resourceURL}}{{wine.logo}}!{{imgWidth}}x{{imgWidth}}"></dt>
                <dd>{{wine.name}}
                    <br><span>{{card.tips}}</span></dd>
            </dl>
        </div>
        <div class="wine_price">
            <ul>
                <li><em>当前汇率：{{rate}}</em>海外价：<b>{{wine.overseasPrice}}</b></li>
                <li>商城价：<b> {{wine.shopPrivice}}/{{wine.units}}</b><i>（海外价+税费物流费用）</i></li>
                <li>销 量：<b>{{wine.salesNum}}</b></li>
                <li>
                    <label>数量：</label><a ng-click="calWineNum('minus')" class="bor_Rnone">-</a> <span><input
                      type="text"  class="bb_inpNO" value="{{wineNum}}" maxlength="5" name="wineNum"
                      id="wineNum" style="height:20px"/> </span><a ng-click="calWineNum('plus')" class="bor_Lnone">+</a></li>
            </ul>
        </div>
    </ion-content>
    <!--     <ion-footer-bar align-title="left" class="bar-assertive">
    <div class="buttons">
        <button class="button">左侧按钮</button>
    </div>
    <h1 class="title">Title!</h1>
    <div class="buttons" ng-click="doSomething()">
        <button class="button">右侧按钮</button>
    </div>
</ion-footer-bar> -->
</ion-view>
