<ion-view>
    <ion-nav-title>酒庄详情</ion-nav-title>
    <ion-nav-buttons>
        <a class="button icon-left ion-chevron-left button-clear button-dark" ui-sref="tab.wine"></a>
    </ion-nav-buttons>
    <ion-content>
        <div class="wine_jzbanner">
            <dl>
                <dt><img id="jzlogo" src="images/temp/jzlogo.jpg"></dt>
                <dd><a id="jzlink">大班麦克威酒庄</a></dd>
            </dl>
        </div>
        <div class="wine_products_more">
            <dl>
                <dt><img src="images/temp/tjtu.jpg"></dt>
                <dd>黄尾袋鼠幕斯卡白葡萄酒
                    <br><span>搭配菜肴：白肉、色拉、前菜</span></dd>
            </dl>
        </div>
        <div class="wine_price">
            <ul>
                <li><em>当前汇率：9.6£</em>海外价：<b>350</b></li>
                <li>商城价：<b> 320</b><i>（海外价+税费物流费用）</i></li>
                <li>销 量：<b>7</b></li>
                <li>
                    <label>数量：</label><a href="" class="bor_Rnone">-</a> <span><input
                      type="text" class="bb_inpNO" value="1" maxlength="5" name="wineNum"
                      id="wineNum" /> </span><a href="" class="bor_Lnone">+</a></li>
            </ul>
        </div>
    </ion-content>
</ion-view>
