<ion-view>
     <ion-nav-title>达人 {{drInfo.realName}} </ion-nav-title>
      <ion-nav-buttons>
        <a class="button icon-left ion-chevron-left button-clear button-dark" ui-sref="tab.daren"></a>
     </ion-nav-buttons>
     <ion-content>
        <div class="">
            <div class="wine_drtx2">
                <ul ng-switch on="drInfo.sex">
                    <li ng-switch-when="女">
                        <a href="" class="l"><img src="images/nv_icon.png">
                            <p>靓女</p>
                        </a>
                    </li>
                    <li ng-switch-when="男">
                        <a href="" class="l"><img src="images/nan_icon.png">
                            <p>帅哥</p>
                        </a>
                    </li>
                    <li class="wine_dr_touxiang"><img src="{{resourceURL}}{{drInfo.headPic}}" style="height:115px;width:115px"></li>
                    <li>
                        <a href="" class="r"><img src="images/gz_icon.png">
                            <p>关注数 {{drInfo.fansAmount}}</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>