<ion-view view-title="我">
    <ion-content>
        <!--我的酒旅 头相-->
        <div class="wine_mybanner">
            <div class="wine_mytx">
                <dl>
                    <dt><img src="images/temp/mytx.jpg"></dt>
                    <dd>
                        <ul>
                            <li><b>Emma Stone</b></li>
                            <li>用户等级：</li>
                        </ul>
                    </dd>
                </dl>
                <p><a href="shipping_address.html">账户管理，收货地址</a></p>
            </div>
            <div class="wine_mytj">
                <ul>
                    <li>32
                        <br>收藏</li>
                    <li>8/55
                        <br>关注/粉丝</li>
                    <li>18
                        <br>浏览历史</li>
                </ul>
            </div>
        </div>
        <div class="list">
            <a class="item item-icon-left" href="#">
                <i class="icon ion-myicon2"></i>个人资料
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-myicon3"></i>我的购物车
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-myicon4"></i>我的关注
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-myicon5"></i>我的维权
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-myicon6"></i>我的足迹
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-myicon7"></i>酒庄试酒
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-myicon8"></i>我的推荐
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-myicon9"></i>我的代言
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-myicon10"></i>赏金任务
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-myicon11"></i>我的提成
            </a>
    </ion-content>
</ion-view>
